[Unit]
Description=Write configurations on clients
Wants=network-online.target
After=network-online.target
Before=nomad.service consul.service haproxy.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/write-configs.sh

[Install]
WantedBy=multi-user.target
